@font-face {
	font-family: "JetBrains Mono";
	font-style: normal;
	font-display: fallback;
	src: url("assets/jetbrains_mono.ttf") format("truetype");
}

* {
	&,
	&::before,
	&::after {
		margin: 0;
		padding: 0;
		user-select: none;
		box-sizing: border-box;
		font-family: JetBrains Mono, Courier, monospace;
	}
}

body {
	overflow: hidden;
	width: 100svw;
	height: 100svh;
	display: flex;
	justify-content: center;
	background-image: url("./assets/bg.png");
	background-size: cover;
}

.match-pop-up {
	width: 100svw;
	height: 100vh;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	transform: translateY(-85vh);
	color: white;
	transition: transform 0.2s 0.35s ease-in-out;

	&.show {
		opacity: 1;
		transform: none;
		transition: transform 0.2s ease-in-out;

		.match-pop-up-bg {
			opacity: 1;
			transition: transform 0.2s ease-in-out, opacity 0.3s 0.15s ease-in;
		}
	}

	&::after {
		content: "✕";
		position: absolute;
		top: 4vh;
		opacity: 0.8;
		pointer-events: none;
		right: 3vw;
		font-size: 1.8rem;
		font-weight: 800;
	}

	.match-pop-up-bg {
		position: absolute;
		inset: 0;
		z-index: -1;
		width: 100vw;
		height: 100vh;
		opacity: 0;
		background-color: rgba(0, 0, 0, 0.562);
		transition: transform 0.2s 0.35s ease-in-out, opacity 0.3s ease-in;
	}

	.container {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 6vh 5vw;
		border-radius: 14px;
		width: 50%;
		min-width: 380px;
		height: 65%;
		background-color: #11111180;
		border: solid 2px #fbfbfb12;
		backdrop-filter: blur(20px);
		gap: 1.5rem;
		--match-state: ;
		--state-color: #ffffff20;

		&::after {
			content: var(--match-state, "");
			position: absolute;
			font-size: 1.1rem;
			font-weight: 400;
			border-radius: 20px;
			padding: 4px 14px;
			background-color: var(--state-color);
			border: solid 2px #fbfbfb12;
			backdrop-filter: blur(20px);
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.logos-container {
			display: flex;
			justify-content: space-between;
			width: 100%;
			min-height: 170px;

			.versus-icon {
				width: 40%;
				mix-blend-mode: difference;
			}

			.team {
				display: flex;
				flex-direction: column;
				align-items: center;
				max-width: 30%;

				.team-logo {
					padding: 0px 4%;
					height: 25vh;
					max-width: 100%;
				}

				.team-name {
					width: 100%;
					text-align: center;
					font-weight: 400;
					font-size: 1.3rem;
					margin-top: 1rem;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}

		.score-container {
			display: flex;
			justify-content: center;
			margin-top: -2%;
			#match-score {
				font-size: 1.8rem;
				font-weight: 600;

				#team-1-score,
				#team-2-score {
					padding-inline: 8px;
					overflow: hidden;
					text-wrap: nowrap;
					text-overflow: ellipsis;
				}
			}
		}

		.vote-bar {
			display: flex;
			position: relative;
			margin: auto;
			border-radius: 8px;
			overflow: hidden;
			width: 100%;
			min-height: 48px;
			max-height: 48px;

			.team {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				border-radius: 4px;
				text-align: center;
				font-weight: 400;
				font-size: 1.2rem;
				cursor: pointer;
				position: relative;
				transition: background-color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
			}

			#team-1-bar {
				margin-right: 2px;
				width: 50%; /* TODO - Change on load with JS based on data-percentage */
				background-color: rgba(255, 0, 0, 0.24);
				color: rgb(206, 41, 41);

				&:hover {
					background-color: rgba(255, 0, 0, 0.35);
				}

				&.voted {
					pointer-events: none;
					color: rgb(255, 255, 255, 0.7);
					font-weight: 400;
					background-color: rgba(255, 0, 0, 0.585);
				}

				&::after {
					content: attr(data-percentage) "%";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}

			#separator {
				user-select: none;
				display: flex;
				justify-content: center;
				align-items: center;
				width: max-content;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -57%);
				pointer-events: none;
				background-color: #ffffff80;
				backdrop-filter: blur(10px);
				padding: 5px 8px;
				color: #000;
				z-index: 101;
				font-weight: 600;
				border-radius: 4px;
				margin: 2px;

				&.disabled {
					position: relative;
					background-color: #ffffffdd;
					max-width: 2.5px;
					min-width: 2.5px;
					margin: 4px;
					padding: 0;
					transform: none;
					inset: 0;
				}
			}

			#team-2-bar {
				margin-left: 2px;
				width: 50%; /* TODO - Change on load with JS based on data-percentage */
				background-color: rgb(17, 146, 218, 0.24);
				color: rgba(16, 160, 237, 0.8);

				&:hover {
					background-color: rgba(17, 146, 218, 0.35);
				}

				&.voted {
					pointer-events: none;
					color: rgba(255, 255, 255, 0.7);
					font-weight: 400;
					background-color: rgba(17, 146, 218, 0.585);
				}

				&::after {
					content: attr(data-percentage) "%";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}

		.vote-buttons-container {
			display: flex;
			justify-content: space-between;
			.vote-team-btn {
				width: 20%;
				border-radius: 15px;
				height: 5vh;
			}
		}

		.admin-buttons {
			display: flex;
			gap: 9vw;
			justify-content: space-around;
			padding-inline: 5vh;

			button {
				padding: 10px 16px;
				border-radius: 6px;
				border: none;
				background-color: #ffffff20;
				color: white;
				font-weight: 600;
				cursor: pointer;
				transition: background-color 0.2s ease-in-out;

				&:hover {
					background-color: #02bd5342;
				}
			}

			#start {
			}

			#win-team-1 {
			}
		}
	}
}

#tournament-mobile {
	display: none;
}

.tournament {
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: flex;
	padding-inline: 30px;
	padding: 40px;
	flex-direction: row;
	--bracket-color: #aaaaaa80;

	#group-b {
		rotate: 180deg;
		*:is(.match) {
			transform: rotate(180deg);
		}
		.match-bracket {
			margin-left: -3px;
		}
	}

	.group {
		width: 50%;
		display: flex;

		.round:nth-child(2) {
			--match-pair-height: 49vh;
		}

		.round {
			width: 12.3vw;
			display: flex;
			flex-direction: row;
			flex-direction: column;
			justify-content: center;
			margin-right: 12px;
			gap: 10%;
			--match-pair-height: 30vh;

			&#group-a {
				align-items: flex-start;
			}
			&#group-b {
				align-items: flex-end;
			}

			.matches-pair {
				display: flex;
				height: var(--match-pair-height);

				.matches-container {
					min-width: 80%;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					border-radius: 6px;
					gap: 25%;
				}

				.match-bracket {
					position: relative;
					margin-top: 5vh;
					margin-left: 10px;
					height: calc(100% - 10vh);
					width: min(25px, 20%);
					border-radius: 0px 8px 8px 0px;
					border-top: solid var(--bracket-color) 2px;
					border-right: solid var(--bracket-color) 2px;
					border-bottom: solid var(--bracket-color) 2px;
				}

				.match-bracket::after {
					content: "";
					position: absolute;
					top: 50%;
					left: calc(100% + 1px);
					width: 20px;
					height: 1.8px;
					background-color: var(--bracket-color);
					display: block;
				}
			}
		}
	}
	.match {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 5px;
		width: 100%;
		height: 10vh;
		border-radius: 6px;
		cursor: pointer;
		white-space: nowrap;

		.team {
			display: flex;
			gap: 3px;
			align-items: center;

			img {
				/* background-color: #ffffffdd; */
				padding: 2px;
				margin-right: 1px;
				height: 38px;
				aspect-ratio: 1/1;
				filter: drop-shadow(0px 0px 2px #00000050);
			}

			.team-name {
				width: 100%;
				backdrop-filter: blur(20px);
				background: #ffffff15;
				transition: background 0.3s ease-in-out;
				box-sizing: border-box;
				border: solid 1.8px #ffffffdd;
				font-size: clamp(0.6rem, 1.2vw, 1.4rem);
				font-weight: bold;
				text-shadow: 0px 0px 2px #000000;
				color: #ffffff;
				overflow: hidden;
				text-overflow: ellipsis;
				padding: 4px 8px;
			}
		}

		&:hover {
			.team-name {
				background: #ffffff40;
			}
		}
	}

	.final-round {
		margin-top: 25vh;
		display: flex;
		align-items: center;
		flex-direction: column;
		pointer-events: painted;
		width: 100%;
		gap: 6.5vh;

		.trophy-image {
			width: 100%;
			transform: scale(1);
			transition: transform 0.4s ease-in-out;

			&:hover {
				transform: scale(1.1);
				transition: transform 0.2s ease-in-out;
			}
		}

		.match {
			margin-top: 2.5rem;
			padding-bottom: 2.2rem;
			margin-right: 2rem;
			.team-name {
				text-align: center;
				font-size: 1.2rem;
			}
			.final-text {
				padding-left: 2.5rem;
				padding-bottom: 0.5rem;
				pointer-events: none;
				color: white;
				text-align: center;
				font-size: 1.5rem;
				font-weight: bold;
			}
		}
	}
}

@media (width < 1400px) {
	body {
		background-repeat: no-repeat;
		background-image: url("./assets/bg-vertical.png");
		background-size: cover;
		background-attachment: fixed;
		mask-image: linear-gradient(to bottom, transparent 0%, black 8%, black 95%, transparent 100%);
		background-position: 50%;
	}

	#tournament {
		display: none;
	}

	#tournament-mobile {
		overflow-y: scroll;
		display: flex !important;
		flex-direction: column;

		.group {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 100%;
			margin-top: 4vh;

			.round {
				position: relative;
				margin-bottom: 12vh;
				align-items: center;
				width: 100%;
				display: flex;
				gap: 0px;

				&::before {
					content: "Octavos";
					position: absolute;
					top: -4vh;
					width: 100%;
					text-align: center;
					font-size: 1.2rem;
					font-weight: 900;
				}

				&:nth-child(2)::before {
					content: "Cuartos";
				}
				&:nth-child(3)::before {
					content: "Semifinales";
				}
				&:nth-child(4)::before {
					content: "Final";
				}

				.matches-pair {
					height: fit-content;
					width: 100%;
					.matches-container {
						min-width: 100%;
						gap: 2vw;
						justify-content: center;
						flex-direction: row;
						height: fit-content;
					}

					.match-bracket {
						display: none;
					}

					.match-bracket::after {
						display: none;
					}
				}
			}
		}
		.match {
			margin-top: 2vh;
			padding-inline: 2.5vw;
			width: 100%;
			max-width: 500px;
			min-width: 320px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			background-color: #111111;
			border: solid 3px #ffffff1e;

			&:hover {
				background-color: #212121;
			}

			.team {
				width: 40%;

				&:nth-of-type(1) {
					flex-flow: row-reverse;

					.team-name {
						text-align: right;
					}
				}

				img {
					height: 50%;
				}

				.team-name {
					border: none;
					background: none;
					white-space: normal;
					font-size: clamp(0.8rem, 2.5vw, 1.3rem);
					max-height: 80%;
					font-weight: 500;
				}
			}

			.score {
				margin-block: auto;
				max-width: 20%;
				font-weight: bold;
				font-size: clamp(1.1rem, 2.55vw, 1.4rem);
			}

			&:hover {
				.team-name {
				}
			}
		}

		.final-round {
			margin-top: 0;
			position: relative;
			margin-bottom: -1rem;

			&::before {
				content: "Final";
				position: absolute;
				top: -5vh;
				width: 100%;
				text-align: center;
				font-size: 1.2rem;
				font-weight: 900;
			}

			.trophy-image {
				display: none;
			}

			.match {
				margin: 0;
				padding: 0;

				.team {
				}

				.team-name {
				}
				.team-logo {
				}
			}
		}
	}

	.social-icons {
		flex-direction: column;
		bottom: 3.5rem !important;
		right: 1.5rem !important;
	}
}

@media (width < 1200px) {
	body {
		display: block;
	}
	.matches-container {
		flex-direction: column !important;
		gap: 0 !important;
	}
}

@media (width < 620px) {
	.tools-icons {
		display: none !important;
	}

	.social-icons {
		display: none !important;
	}
}

.tools-icons {
	position: absolute;
	bottom: 1.3rem;
	left: 1.5rem;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	cursor: pointer;

	img {
		height: 100%;
		aspect-ratio: 1/1;
		opacity: 0.3;
		transition: opacity 0.3s ease-in-out;

		&:hover {
			opacity: 0.8;
		}
	}
}

.social-icons {
	position: absolute;
	display: flex;
	bottom: 1.3rem;
	right: 4rem;
	gap: 1rem;
	width: 25px;
	height: 25px;

	img {
		height: 100%;
		aspect-ratio: 1/1;
		opacity: 0.3;
		transition: opacity 0.3s ease-in-out;

		&:hover {
			opacity: 0.8;
		}
	}
}
