@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
	&,
	&::before,
	&::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: Lexend, Courier, monospace;
	}
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.roulette-view-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #00000050;
}

.title-class {
	color: white;
	font-size: 3rem;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	font-family: Lexend;
}

.roulette-container {
	margin-top: 8vw;
	width: 40vh;
	height: 40vh;
	overflow: hidden;
	position: relative;
}

.roulette-team {
	width: 50%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	position: absolute;
	background-size: auto 100%;
	top: 25%;
	left: 25%;
}

#startButton {
	font-family: Lexend;
	margin-top: 8vh;
	color: black;
	font-size: 1.5rem;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 5px;
	background-color: #fff;
	cursor: pointer;
}

#roulette {
	--spin-amount: 10;
	--spin-size: -75%;
	--spin-translation: calc(var(--spin-size) * var(--spin-amount));
}

@keyframes spin {
	100% {
		transform: translateY(var(--spin-translation));
	}
}

@keyframes end-spin {
	0% {
		transform: translateY(var(--spin-translation));
	}

	100% {
		transform: translateY(calc(var(--spin-translation) * 2));
	}
}
