* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lexend, Courier, monospace;
  }
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("../assets/bg.png");
  background-size: cover;
}

.match-pop-up {
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.562);
  backdrop-filter: blur(1px);
  color: white;

  .container {
    display: flex;
    flex-direction: column;
    padding: 10vh 7vw;
    border-radius: 20px;
    width: 60%;
    height: 75%;
    gap: 20px;
    background-color: #121212;
    border: solid 4px #fbfbfb12;
    gap: 5vh;

    .logos-container {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .versus-icon {
        width: 30%;
      }
      .team {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        .team-logo {
          max-height: 30vh;
          max-width: 100%;
        }

        .team-name {
          text-align: center;
          font-weight: bold;
          font-size: 2rem;
          margin-top: 10px;
        }
      }
    }

    .vote-bar {
      display: flex;
      position: relative;
      margin: auto;
      /* border: solid 2px #232323; */
      border-radius: 10px;
      overflow: hidden;
      width: 100%;
      min-height: 54px;

      .team {
        /* box-shadow: inset 0px 0px 10px rgb(0, 0, 0); */
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;

      }

      #team-1-bar {
        color: rgba(255, 0, 0);
        width: 60%;
        background-color: rgba(255, 0, 0, 0.24);
      }

      #team-2-bar {
        color: rgb(19 157 234);
        width: calc(100% - 60%);
        background-color: rgb(17 146 218 / 24%);
      }

    }

    .vote-buttons-container {
      display: flex;
      justify-content: space-between;
      .vote-team-btn{
        width: 20%;
        border-radius: 15px;
        height: 5vh;
      }
    }

  }
}

#tournament {
  width: 100%;
  height: 100%;
  display: flex;
  padding-inline: 30px;
  padding: 40px;
  flex-direction: row;
  gap: 10px;
  --bracket-color: #aaaaaa80;

  #group-b {
    rotate: 180deg;
    *:is(.match) {
      transform: rotate(180deg);
    }
  }

  .group {
    width: 50%;
    display: flex;

    .round:nth-child(2) {
      --match-pair-height: 49vh;
    }

    .round {
      width: 11vw;
      display: flex;
      flex-direction: row;
      flex-direction: column;
      justify-content: center;
      margin-right: 20px;
      gap: 10%;
      --match-pair-height: 30vh;

      &#group-a {
        align-items: flex-start;
      }
      &#group-b {
        align-items: flex-end;
      }

      .matches-pair {
        display: flex;
        height: var(--match-pair-height);

        .matches-container {
          min-width: 80%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          border-radius: 6px;
          gap: 25%;
        }

        .match-bracket {
          position: relative;
          margin-top: 5vh;
          margin-left: 6px;
          height: calc(100% - 10vh);
          width: min(30px, 20%);
          border-radius: 0px 8px 8px 0px;
          border-top: solid var(--bracket-color) 2px;
          border-right: solid var(--bracket-color) 2px;
          border-bottom: solid var(--bracket-color) 2px;
        }

        .match-bracket::after {
          content: "";
          position: absolute;
          top: 50%;
          left: calc(100% + 2px);
          width: 20px;
          height: 2px;
          background-color: var(--bracket-color);
          display: block;
        }
      }

      .single-match {
        display: flex;
        align-items: center;
        width: 11vw;
        height: var(--match-pair-height);
      }
    }
  }
  .match {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: 10vh;
    border-radius: 6px;
    cursor: pointer;
    white-space: nowrap;
    /* background: #ffffff40; */
    /* backdrop-filter: blur(20px); */
    /* transition: background 0.2s ease-in-out; */

    .team {
      display: flex;
      gap: 3px;
      align-items: center;

      img {
        background-color: white;
        padding: 2px;
        height: 32px;
        aspect-ratio: 1/1;
      }

      .team-name {
        width: 100%;
        box-sizing: border-box;
        border: solid 2px white;
        font-family: Lexend, Courier, monospace;
        font-size: 1rem;
        font-weight: bold;
        text-shadow: 0px 0px 2px #000000;
        color: #ffffff;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 5px;
      }
    }

    &:hover {
      background: #ffffff60;
    }
  }

  .final-round {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5vh;

    .trophy-image {
      width: 100%;
    }

    .match {
      .final-text {
        color: white;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
}
