* {
	&,
	&::before,
	&::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: Lexend, Courier, monospace;
	}
}

body {
	width: 100vw;
	height: 100vh;
	padding: 40px;
	display: flex;
	justify-content: center;
	padding: 40px;
	background-image: url("../assets/bg.png");
	background-size: cover;
}

#tournament {
	width: 100%;
	height: 100%;
	display: flex;
	padding-inline: 30px;
	flex-direction: row;
	gap: 10px;
	--bracket-color: #aaaaaa80;

	#group-b {
		rotate: 180deg;
	}

	.group {
		width: 50%;
		display: flex;

		.round:nth-child(2) {
			--match-pair-height: 49vh;
		}

		.round {
			width: 11vw;
			display: flex;
			flex-direction: row;
			flex-direction: column;
			justify-content: center;
			margin-right: 20px;
			gap: 10%;
			--match-pair-height: 30vh;

			&#group-a {
				align-items: flex-start;
			}
			&#group-b {
				align-items: flex-end;
			}

			.matches-pair {
				display: flex;
				height: var(--match-pair-height);

				.matches-container {
					min-width: 80%;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					border-radius: 6px;
					gap: 25%;
				}

				.match-bracket {
					position: relative;
					margin-top: 5vh;
					margin-left: 6px;
					height: calc(100% - 10vh);
					width: min(30px, 20%);
					border-radius: 0px 8px 8px 0px;
					border-top: solid var(--bracket-color) 2px;
					border-right: solid var(--bracket-color) 2px;
					border-bottom: solid var(--bracket-color) 2px;
				}

				.match-bracket::after {
					content: "";
					position: absolute;
					top: 50%;
					left: calc(100% + 2px);
					width: 20px;
					height: 2px;
					background-color: var(--bracket-color);
					display: block;
				}
			}
			.match {
				max-width: 180px;
				width: 100%;
				height: 10vh;
				background: #ffffff40;
				backdrop-filter: blur(20px);
				border-radius: 6px;
				transition: background 0.2s ease-in-out;
				cursor: zoom-in;

				&:hover {
					background: #ffffff60;
				}
			}

			.single-match {
				display: flex;
				align-items: center;
				width: 11vw;
				height: var(--match-pair-height);

				.match {
					background-color: red;
					width: 100%;
					height: 10vh;
					background: #00000020;
					border-radius: 6px;
					transition: background 0.2s ease-in-out;

					&:hover {
						background: #00000040;
					}
				}
			}
		}
	}
}
